<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <div id='container'>
      {% include pages.html %}
      <div class="content">
        <section class='post'>
          <h1 class="upcase">
            {{ page.title }}
            <div class='date'>{{ page.date | date: "%B %-d %Y"}}</div>
          </h1>
          {{ content }}
        </section>
      </div>
    {% include footer.html %}
    </div>
  </body>
</html>
